.chart {
  flex: 1;
  min-height: min-content;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    text-align: center;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: bold;
      padding: 10px;
      font-size: 15px;
    }
    .data {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 20px;
      font-weight: bold;
    }
    .datatitle {
      display: flex;
      justify-content: space-around;
      color: gray;
      font-size: 12px;
    }

    .progressbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: 10px;
      .progress {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    .card {
      background-color: black;
      width: 40%;
    }
  }
}
