.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

.table th,


.table td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-weight: bold;
  background-color: rgb(79, 187, 25);
}

.table tbody tr:hover {
  background-color: white;
}
